body {
    background-color: rgb(110, 109, 109);
    max-width: 80%;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: white;
}

.canvasDiv {
    width: 600px;
    margin: 0 auto;
}

.canvasScreen {
    background-color: darkblue;
    margin: 0 auto;
}